.landing{
    align-items: center;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: xx-large;
    justify-content: center;
    font-style:normal;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid #120b27;
    border-radius: 5px;
    color: #ffffff;
    background-color: #2adf2a;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #050708;
  }

body{
        background: url('../src/images/wood.jpg');
}