.container {
  text-align: center;
  color: #333; /* Changed color to a darker shade for better readability */
  font-size: 24px; /* Adjust font size as needed */
  margin-bottom: 20px; /* Add margin for separation from other elements */
}
  
.link {
  margin: 10px;
  text-decoration: none;
  color: #fff;
  padding: 15px 30px; /* Increased padding for a more prominent button */
  border-radius: 8px; /* Increased border-radius for a rounded look */
  background-color: #007bff;
  transition: background-color 0.3s ease;
  display: inline-block;
  font-weight: bold;
  text-transform: uppercase; /* Convert text to uppercase for emphasis */
  letter-spacing: 1px; /* Add letter spacing for better readability */
}
  
  .link:hover {
    background-color: #09ad11;
  }