.logout{
    text-align: center;
    color: red;
  }
.link {
    margin: 10px;
    text-decoration: none;
    color: #fff;
    padding-top: 20;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #007bff;
    transition: background-color 0.3s ease;
  }
  
  .link:hover {
    background-color: #0056b3;
  }