.scores-container {
  display:inline-flex;
  align-items:center;
  justify-content: center;
  border: 2px solid #a86941;
  border-radius: 8px;
  padding: 3px;
  background-color: #d1a580;
  margin-bottom: 2px;
  top: 20%; /* Place at the vertical center */
  left: 20%; /* Place at the horizontal center */
  transform: translate(400%, 0%); /* Adjust for centering */
}

.scores-box {
  padding: 10px;
  margin-right: 10px;
}

.score-title {
  display: inline-block;
  margin-bottom: 10px;
  padding: 10px 16px;
  border: 2px solid #ffffff;
  border-radius: 8px;
  background-color: #d1a580;
  position: relative;
}

.player-scores {
  display: flex;
  flex-direction: column;
}

.player-score {
  margin-bottom: 6px;
}

.player-score span {
  display: inline-block;
  padding: 8px;
  background-color: #a86941;
  border-radius: 8px;
  color: #fff;
}

  